
body{
	height: 100%;
	position:relative;
	text-align:center;
	background-color:#D5DBDB ;
	
}

.email-div{
	
	background-color: white;
	box-shadow:2px 2px 6px black; 
	width:70%;
	margin: 0 auto;
	height: 80%;
	margin-top:80px;
	
}

html {
	height: 100%;
}
